{% extends 'base.html' %} {% load static %} {% block content %}
<h2 id="details">{{ place_details.name }}</h2>
<div id="details">{{ place_details.formatted_address }}</div>
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-sm-5 col-md-6">
      <form action="{% url 'add_review' place_details.place_id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <select class="form-select" name="stars" aria-label="Default select example">
          <option selected>Rate the restaurant</option>
          <option value="1">1 star</option>
          <option value="2">2 stars</option>
          <option value="3">3 stars</option>
          <option value="4">4 stars</option>
          <option value="5">5 stars</option>
        </select>
        <br />
        <div class="form-floating">

          <textarea class="form-control" name="comments" placeholder="Leave a review here"
            id="floatingTextarea"></textarea>

          <label for="floatingTextarea">Leave a review here</label>
        </div>
        <br />
        <input type="file" name="photo" />
        <br />
        <input type="submit" class="btn btn-primary" value="Leave a Review" />
      </form>
      {% for photo in restaurant.photo_set.all %}
      <img class="responsive-img card-panel" src="{{ photo.url }}" />
      {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
      {% endfor %}

    </div>
    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
      <div id="map" style="height: 400px; width: 100%"></div>
    </div>
  </div>
  <br />
  <h3 id="details">Reviews</h3>
  <hr />

  {% if restaurant.review_set.all %}
  <div class="card mb-3" style="max-width: 1000px">
    {% for review in restaurant.review_set.all %}
    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">

          <img src="{{ review.img_url }}" class="img-fluid rounded-start" alt="image" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="review">
              <div class="avatar">
                {{ review.user.username|slice:":2"|upper }}
              </div>

              <p class="card-text">{{review.user.username}}</p>
              <p class="card-text">
                <small class="text-muted card-text">{{review.created_at|date:"d M Y h:i A"}}</small>
              </p>

              <div class="star-rating-display">
                {% for i in "12345" %} {% if i|add:"0" <= review.stars %} <span class="star filled">★</span>
                  {% else %}
                  <span class="star">★</span>
                  {% endif %} {% endfor %}

              </div>



              <p class="card-text">{{review.comments}}</p>

            </div>
          </div>
        </div>
      </div>

    </div>
    {% endfor %}
  </div>

  {% else %}
  <h5 class="card-title">No reviews available.</h5>
  {% endif %}

</div>


<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "AIzaSyAOA6qch2_Mkktzr1mbL0RCAw9nrkcMxZw",
    v: "weekly",
    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
    // Add other bootstrap parameters as needed, using camel case.
  });
</script>

<script async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOA6qch2_Mkktzr1mbL0RCAw9nrkcMxZw&loading=async&libraries=places&callback=initMap"></script>
</script>
  
  <script>
  let map;
  async function initMap() {
    const position = { lat: {{ place_details.geometry.location.lat }}, lng: {{ place_details.geometry.location.lng }} };
    const { Map } = await google.maps.importLibrary("maps");
    const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
    map = new Map(document.getElementById("map"), {
      center: position,
      zoom: 15,
      mapId: "restaurant"
    });

    const marker = new AdvancedMarkerElement({
      map: map,
      position: position,
      title: "restaurant",
    });
  }

  initMap();
  </script>
  {% endblock %}

